body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Pick colour of state */
#pick-colour span {
    cursor: pointer;
    margin: 1px;
}

#pick-colour span:hover {
    border: 1px solid darkgrey;
    margin: 0;
}

.state {
    font-size: 100%;
    background-color: black;
    line-height: 2;
}

.initial {
    color: limegreen;
    font-size: 70%;
    border: 1px solid limegreen;
}

.final {
    color: firebrick;
    font-size: 70%;
    border: 1px solid firebrick;
}

td.align-right {
    text-align: right;
}

.table .one-line {
    white-space: nowrap;
}

.search-table {
    width: 90%;
}

.search-table td {
    padding: 0.5em;
}

.search-table .right-align {
    text-align: right;
    float: right;
}

.search-table input[type="text"] {
    max-width: 100%;
}

#swVisualization {
    width: 100%; 
    height: 400px
}

.grayed {
    color: lightslategray;
}

.tr-with-hr {
    margin-bottom: 10px;
}

.history > tbody > tr > td:nth-child(2),  
.history > tbody > tr > td:nth-child(3) {
    border-right: 1px solid #ddd;
}

.history {
    border-bottom: 1px solid #ddd;
}

.float-right {
    float: right;
}

.detail > tbody > tr:last-child {
    height: 100%;
}

.detail > tbody > tr > td {
    border: none;
}

.detail > tbody > tr > td:nth-child(2) {
    border-right: 1px solid #ddd;
}

.detail > tbody > tr > td:nth-child(1) {
    text-align: right;
}

.black-link {
    color: black;
}

.no-underline-link:hover {
    text-decoration: none;
}

/* deals with design problems caused by using <div id="create-button" class="float-right"> and <dl class="dl-horizontal"> */
.alter-position-after-buttons {
    position: relative;
    top: -15px;
}

.issue-type {
    color: lightslategrey;
}