@Scripts.Render("~/bundles/pick-colour")

<div id="pick-colour">
    @StateStrings.PickColour: <br />
    <span class="label state" style="background-color: #333333;">#333333</span>
    <span class="label state" style="background-color: #999999;">#999999</span>
    <span class="label state" style="background-color: #5319e7;">#5319e7</span>
    <span class="label state" style="background-color: #333385;">#333385</span>
    <span class="label state" style="background-color: #004573;">#004573</span>
    <span class="label state" style="background-color: #008AE6;">#008AE6</span>
    <span class="label state" style="background-color: #428bca;">#428bca</span>
    <span class="label state" style="background-color: #5bc0de;">#5bc0de</span>
    <span class="label state" style="background-color: #008242;">#008242</span>
    <span class="label state" style="background-color: #5cb85c;">#5cb85c</span>
    <br />
    <span class="label state" style="background-color: #75A319;">#75A319</span>
    <span class="label state" style="background-color: #B2B200;">#B2B200</span>
    <span class="label state" style="background-color: #474700;">#474700</span>
    <span class="label state" style="background-color: #CC6600;">#CC6600</span>
    <span class="label state" style="background-color: #D68533;">#D68533</span>
    <span class="label state" style="background-color: #f0ad4e;">#f0ad4e</span>
    <span class="label state" style="background-color: #A31947;">#A31947</span>
    <span class="label state" style="background-color: #d9534f;">#d9534f</span>
    <span class="label state" style="background-color: #926272;">#926272</span>
    <span class="label state" style="background-color: #E65CE6;">#E65CE6</span>
</div>